@font-face {
  font-family: 'Arimo';
  font-weight: 400;
  src: local('Arimo'), url(/public/arimo/Arimo-Regular.ttf) format('ttf') format('truetype');
  /* unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; */
}

@font-face {
  font-family: 'Arimo';
  font-weight: 700;
  src: local('Arimo Bold'), local('Arimo-Bold'), url(/public/arimo/Arimo-Bold.ttf) format('ttf') format('truetype');
  /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;*/
}

/* Use Arimo */
html, 
.pagination,
h1, h2, h3, h4, h5, h6,
.sidebar {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
}

html {
  font-size: 16px;
}

@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}

#team .bio {
  min-height: 200px;
}

#team .bio:before,
#team .bio:after {
  content: ' ';
  display: table;
}

#team .bio:after {
  clear: both;
}

#team .bio + .bio {
  margin-top: 16px;
}

#team .bio img { 
  width: 200px;
  height: 200px;
  float: left;  
  margin: 0 20px 0 0;
}
#team .bio p {
  margin: 0;
}

#team .bio p + p {
  margin-top: 16px;
}

@media (max-width: 38em) {

  #team .bio img {
    width: 100%;
    height: auto;
    float: none;
    margin: 0;
  }

  #team .bio img + p {
    margin-top: 16px;
  }

}

#arch_logo { margin: 18px auto 0px; }

.post-title {
  line-height: 1.1;
  margin-bottom: 15px;
}

.masthead { 
  margin-bottom: 2rem; 
  padding-bottom: 2rem;
  border-bottom: 4px dotted #444;
}
.masthead-title .subtitle { 
  color: #333; 
  display: block;
  margin-top: 10px; 
  font-size: 20px;
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-variant: small-caps;
}


.youtube {
  width: 560px;
  height: 315px;
}

@media (max-width: 38em) {
  .youtube {
    width: 368px;
    height: 206px;
  }

  .masthead-title .subtitle { 
    font-size: 17px;
  }

}

.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
  font-size: 105%;
}

blockquote {
  color: #777;
  quotes: "\201C" "\201D" "\2018" "\2019";
  font-style: italic;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.3em;
  vertical-align: -0.4em;
}
blockquote big {
  font-size: 1.8em;
  line-height: .5em;
  vertical-align: -0.2em;
  color: #bbb;
  margin-left: 0.2em;
}
