@font-face {
  font-family: 'Arimo';
  font-weight: 400;
  src: local('Arimo'), url(/public/arimo/Arimo-Regular.ttf) format('ttf') format('truetype');
  /* unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; */
}

@font-face {
  font-family: 'Arimo';
  font-weight: 700;
  src: local('Arimo Bold'), local('Arimo-Bold'), url(/public/arimo/Arimo-Bold.ttf) format('ttf') format('truetype');
  /*unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;*/
}

/* Use Arimo */
html, 
.pagination,
h1, h2, h3, h4, h5, h6,
.sidebar {
  font-family: 'Arimo', Helvetica, Arial, sans-serif;
}

html {
  font-size: 16px;
}

@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}

#team .bio {
  height: 240px;
}

#team .bio img { 
  width: 200px;
  height: 200px;
  float: left;  
  margin-right: 20px;
}
#team .bio p {
}

.masthead { 
  margin-bottom: 2rem; 
  border-bottom: 4px dotted ;
}
.masthead-title .subtitle { 
  color: #333; 
  display: block;
  margin-top: 10px; 
}

.youtube {
  width: 560px;
  height: 315px;
}

@media (max-width: 38em) {
  .youtube {
    width: 350px;
    height: 200px;
  }
}

